.input-group {
  display: flex;
  flex-direction: column; /* Apila el label arriba del input */
  margin-bottom: 15px;
  text-align: left;
}

.input-label{
  font-size: 0.85rem;
  color: var(--text-muted)

}

.input-style{
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--bh-main);
  background-color: var(--bg-main);
  color: var(--text-main);
  outline: none

}