.topbar{
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 36px;
  border-bottom: 1px solid var(--border);
  position: stikcy;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: var(--bg-card);
}

.topbar-acciones{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
 
}

.topbar-acciones-boton{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 8px;
  background-color: transparent;
  color: #aab5d0;
  position: relative;
  border: none; 
  outline: none; 
  cursor: pointer;

}

.topbar-acciones-boton:hover{
  background-color:  #1b294b;
  color: #edf2ff;
}

.notificaciones-alerta{
  width: 6px;
  height: 6px;
  background-color: #617cff; 
  border-radius: 50%;
  position: absolute;
  top: 6px;
  right: 6px;

}

.topbar-avatar{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #617cff;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color:  #edf2ff;
  font-size: 12px;
  font-weight: 700;

}

.topbar-user{
  display: flex;
  flex-direction: column;

}

.topbar-user strong{
  font-size: 13px;
  color:#edf2ff;

}

.topbar-user small{
  font-size: 11px;
  color: #8d99b4;
}