.logo-container {
  display: flex;
  flex-direction: row; /* Alinea los elementos en fila */
  align-items: center; /* Centra verticalmente */
  justify-content: center;
  gap: 8px; /* Espacio entre el icono y el texto */
  margin-bottom: 20px;
}

.logo-icon {
  width: 24px;
  height: 24px;
  color: #4648cc;
}

.logo-text {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
}