.sidebar{
  width: 250px;
  flex: none;
  display: flex;
  flex-direction: column;
  gap: 30px;

  padding: 26px 17px;

  background: var(--bg-card);
  border-right: 1px solid var(--border);
  justify-content: space-between;

}

.sidebar-header{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin: 0px 8px 24px 8px;
}

.sideba-header strong{
  font-size: 18px;
  color: var(--text);

}

.icon{
  background-color: var(--primary);
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  border-radius: 10px;
  color: var(--text-light);
}

.menu-title{
  padding: 0 8px;

  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;

  color: var(--text-muted);
}

.nav-menu{
  display: flex;
  flex-direction: column;
  gap: 10px;
}