* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  background-color: #314061; /* El fondo azul oscuro de tu diseño */
  color: #ffffff;
}